<!-- Button trigger modal -->

<!-- <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                    <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                </span> -->

<!-- Modal -->
<div class="modal fade" id="foglaloModal" tabindex="-1" aria-labelledby="foglaloModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="foglaloModalLabel">Időpont foglalása</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Biztos, hogy le akarod foglalni a labort ... napon ... órakor?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                <form action="/foglalas" method="POST" class="validated-form" novalidate>
                    <input type="hidden" id=foglaloID name=foglaloID></input>
                    <button type="submit" class="btn btn-success">Foglalás</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var foglaloModal = document.getElementById('foglaloModal')
    foglaloModal.addEventListener('show.bs.modal', function(event) {
        console.log(event)
            // Button that triggered the modal
        var button = event.relatedTarget
            // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            //      var modalTitle = foglaloModal.querySelector('.modal-title')
            //        var modalBodyInput = foglaloModal.querySelector('.modal-body input')

        //        modalTitle.textContent = 'New message to ' + recipient
        //        modalBodyInput.value = recipient

        //var modalBody = foglaloModal.querySelector('.modal-body')
        //var modalBody = foglaloModal.getElementById('modal-body')

        var days = ["Hétfő", "Kedd", "Szerda", "Csütörtök", "Péntek"]
        var day = days[recipient % 5]
        var time = 8 + Math.floor(recipient / 5) * 2 + "-" + (10 + Math.floor(recipient / 5) * 2)
        var modalBody = foglaloModal.querySelector('.modal-body')
        modalBody.innerHTML = 'Biztos, hogy le akarod foglalni a labort a <span class="badge rounded-pill  bg-success">' + day + '</span> napon <span class="badge rounded-pill  bg-success">' + time + '</span> óra között?'

        var foglaloID = document.getElementById('foglaloID')
        foglaloID.setAttribute("value", recipient)
    })
</script>