<!-- Button trigger modal -->

<!-- <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                    <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                </span> -->

<!-- Modal -->
<div class="modal fade" id="foglaloModal" tabindex="-1" aria-labelledby="foglaloModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="foglaloModalLabel">Időpont foglalása</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Biztos, hogy le akarod foglalni a labort ... napon ... órakor?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                <button type="button" class="btn btn-success">Foglalás</button>
            </div>
        </div>
    </div>
</div>