<footer class="py-0 my-4">
    <p class="text-center text-muted border-top pt-3">&copy BME Webes alkalmazások fejlesztése 2021</p>
    <p class="text-center text-muted">Mészáros Sándor &#8226 Fodor Bálint &#8226 Németh Gergely &#8226 Hajnal Bálint</p>
</footer>