<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-nav-scroll bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Labor foglaló
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-calendar2-range ms-2" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM9 8a1 1 0 0 1 1-1h5v2h-5a1 1 0 0 1-1-1zm-8 2h4a1 1 0 1 1 0 2H1v-2z"/>
              </svg>
            <!-- <img src="images/calendar_white.png" class="ms-2" width="30" alt=""> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/#tabla">Foglalás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#use">A weboldal használata</a>
                </li>
                <li>
                    <% if(isAuthenticated){ %>
                        <a class="nav-link" href="/eszkozok">Felhasználható eszközök</a>
                        <% } %> 
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/#edit">Foglalás szerkesztése</a>
                </li> -->

            </ul>
            <% if(!isAuthenticated){ %>
                <a class="btn btn-outline-light me-3" href="/register" role="button">Regisztráció</a>
                <a class="btn btn-outline-light" href="/login" role="button">Bejelentkezés</a>
                <% } else{ %>
                    <a class="btn btn-outline-light me-3" href="/profile" role="button">Profil</a>
                    <a class="btn btn-outline-light" href="/logout" role="button">Kijelentkezés</a>
                    <% } %>
        </div>
    </div>
</nav>