<!-- Modal -->
<div class="modal fade" id="torloModal" tabindex="-1" aria-labelledby="torloModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="torloModalLabel">Időpont törlése</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Biztos, hogy törölni akarod foglalásod a ... napon ... órai időpontból?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                <form action="/torles" method="POST" class="validated-form" novalidate>
                    <input type="hidden" id=torloID name=torloID></input>
                    <button type="submit" class="btn btn-danger">Törlés</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var exampleModal = document.getElementById('torloModal')
    exampleModal.addEventListener('show.bs.modal', function(event) {
        console.log(event)
            // Button that triggered the modal
        var button = event.relatedTarget
            // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            /* var modalTitle = exampleModal.querySelector('.modal-title')
            var modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = 'New message to ' + recipient
            modalBodyInput.value = recipient */
        var days = ["Hétfő", "Kedd", "Szerda", "Csütörtök", "Péntek"]
        var day = days[recipient % 5]
        var time = 8 + Math.floor(recipient / 5) * 2 + "-" + (10 + Math.floor(recipient / 5) * 2)
        var modalBody = exampleModal.querySelector('.modal-body')
        modalBody.innerHTML = 'Biztos, hogy törölni akarod foglalásod a <span class="badge rounded-pill  bg-danger">' + day + '</span> napon <span class="badge rounded-pill  bg-danger">' + time + '</span> órai időpontból?'
        var torloID = document.getElementById('torloID')
        torloID.setAttribute("value", recipient)
    })
</script>