<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1 id="tabla" class="mt-5 mb-4">Eszköz kisokos</h1>


            <table width="100%" class="table text-center table-bordered">
                <thead>
                    <tr>
                        <th scope="col" width="20%">Név</th>
                        <th scope="col" width="40%">Eszköz leírása</th>
                        <th scope="col" width="40%">Kép</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bosch PBD 40</td>
                        <td>
                            <p>
                                Digitális kijelzős, nagy pontosságú asztali fúrógép
                            </p>
                            <a href="https://www.youtube.com/watch?v=ArPt7nRH07k&ab_channel=Onlineszersz%C3%A1m-PromiseKft." target="_blank">Bemutató videó</a>
                        </td>
                        <td><img src="https://img2.cgtrader.com/items/1002340/a93cd259b6/drill-bosch-pbd-40-3d-model-max-obj-fbx-mat.jpg" width="100%"></td>
                    </tr>
                    <tr>
                        <td>Metabo CS 23</td>
                        <td>
                            <p>
                                Fémvágó gyorsdaraboló
                            </p>
                            <a href="https://www.youtube.com/watch?v=ampVxGXAjd4&ab_channel=METABOSouthAfrica" target="_blank">Bemutató videó</a>
                        </td>
                        <td><img src="https://img.twa.nl/21440499?width=600&height=450&watermark=none" width="100%"></td>
                    </tr>
                    <tr>
                        <td>Bernardo Master 180</td>
                        <td>
                            <p>
                                3 tengelyes vezér- és vonóorsós esztergagép
                            </p>
                            <a href="https://www.youtube.com/watch?v=t-Zqt4QuRhQ&ab_channel=HansSchreiner" target="_blank">Bemutató videó</a>
                        </td>
                        <td><img src="https://www.bernardo.at/pub/media/catalog/product/cache/f9bb4946b08eb56afc1e83d5b55bf276/0/3/03-1263xl_1.jpg" width="100%"></td>
                    </tr>
                    <tr>
                        <td>Makita DGA504Z</td>
                        <td>
                            <p>
                                Akkus szénkefementes sarokcsiszoló
                            </p>
                            <a href="https://www.youtube.com/watch?v=hMUNlo2U3Uc&ab_channel=MakitaSuomi" target="_blank">Bemutató videó</a>
                        </td>
                        <td><img src="https://www.makita.hu/_user/catalog/tools/DGA504Z_large.jpg" width="100%"></td>
                    </tr>


                   
            </table>

            <h3 id="use">Eszközhasználat feltételei</h3>
            <u1>
                <li>Étel és ital behozatala nem megengedett</li>
                <li>Eszközhasználat feltétele a specifikus képzés elvégzése</li>
                <li>Munkavédelmi ruha használata kötelező</li>
                <li style="font-weight: bold;color: red;">Alkoholos vagy egyéb befolyásoltság alatt a labor területére lépni tilos!</li>
            </u1>

        

        </div>
    </div>
</div>
