<% layout('layouts/boilerplate') %>
    
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1 class="mt-5 mb-4">Időpontfoglaló táblázat</h1>

                <table width="100%" class="table text-center table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="5%">Időpont</th>
                            <th scope="col" width="19%">Hétfő</th>
                            <th scope="col" width="19%">Kedd</th>
                            <th scope="col" width="19%">Szerda</th>
                            <th scope="col" width="19%">Csütörtök</th>
                            <th scope="col" width="19%">Péntek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">8-10</th>
                            <% for( let i = 0; i < 5; i++ ) { %>
                                <% if (loggedInUserid == timetabledata[i].userid) { %>

                                    <td class="table-warning">általad foglalt
                                        <!-- Button trigger modal -->
                                        <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                            </span>
                                    </td>
                                    <% } else if (timetabledata[i].userid == null) {%>
                                        <td class="table-success">szabad

                                            <!-- Button trigger modal -->
                                            <span data-bs-whatever="<%=i%>" data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                        <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                    </span>
                                        </td>
                                        <% } else {%>
                                            <td class="table-danger">foglalt</td>
                                            <% } %>

                                                <% } %>
                        </tr>

                        <tr>
                            <th scope="row">10-12</th>
                            <% for( let i = 5; i < 10; i++ ) { %>
                                <% if (loggedInUserid == timetabledata[i].userid) { %>

                                    <td class="table-warning">általad foglalt
                                        <!-- Button trigger modal -->
                                        <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                            </span>
                                    </td>
                                    <% } else if (timetabledata[i].userid == null) {%>
                                        <td class="table-success">szabad
                                            <!-- Button trigger modal -->
                                            <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                        <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                    </span>
                                        </td>
                                        <% } else {%>
                                            <td class="table-danger">foglalt</td>
                                            <% } %>

                                                <% } %>
                        </tr>
                        <tr>
                            <th scope="row">12-14</th>
                            <% for( let i = 10; i < 15; i++ ) { %>
                                <% if (loggedInUserid == timetabledata[i].userid) { %>

                                    <td class="table-warning">általad foglalt
                                        <!-- Button trigger modal -->
                                        <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                            </span>
                                    </td>
                                    <% } else if (timetabledata[i].userid == null) {%>
                                        <td class="table-success">szabad
                                            <!-- Button trigger modal -->
                                            <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                        <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                    </span>
                                        </td>
                                        <% } else {%>
                                            <td class="table-danger">foglalt</td>
                                            <% } %>

                                                <% } %>
                        </tr>
                        <tr>
                            <th scope="row">14-16</th>
                            <% for( let i = 15; i < 20; i++ ) { %>
                                <% if (loggedInUserid == timetabledata[i].userid) { %>

                                    <td class="table-warning">általad foglalt
                                        <!-- Button trigger modal -->
                                        <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                            </span>
                                    </td>
                                    <% } else if (timetabledata[i].userid == null) {%>
                                        <td class="table-success">szabad
                                            <!-- Button trigger modal -->
                                            <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                        <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                    </span>
                                        </td>
                                        <% } else {%>
                                            <td class="table-danger">foglalt</td>
                                            <% } %>

                                                <% } %>
                        </tr>
                        <tr>
                            <th scope="row">16-18</th>
                            <% for( let i = 20; i < 25; i++ ) { %>
                                <% if (loggedInUserid == timetabledata[i].userid) { %>

                                    <td class="table-warning">általad foglalt
                                        <!-- Button trigger modal -->
                                        <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                            </span>
                                    </td>
                                    <% } else if (timetabledata[i].userid == null) {%>
                                        <td class="table-success">szabad
                                            <!-- Button trigger modal -->
                                            <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                        <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                    </span>
                                        </td>
                                        <% } else {%>
                                            <td class="table-danger">foglalt</td>
                                            <% } %>

                                                <% } %>
                        </tr>
                    </tbody>
                </table>


                <h3>régi tábla, csak példa </h3>
                <table width="100%" class="table text-center table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="5%">Időpont</th>
                            <th scope="col" width="19%">Hétfő</th>
                            <th scope="col" width="19%">Kedd</th>
                            <th scope="col" width="19%">Szerda</th>
                            <th scope="col" width="19%">Csütörtök</th>
                            <th scope="col" width="19%">Péntek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">8-10</th>
                            <td class="table-success">szabad
                                <!-- Button trigger modal -->
                                <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                        <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                    </span>
                            </td>
                            <td class="table-success">szabad
                                <span data-bs-toggle="modal" data-bs-target="#foglaloModal">
                                    <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Foglalás">+</button>
                                </span>


                            </td>
                            <td class="table-danger">foglalt</td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">10-12</th>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-danger">foglalt</td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">12-14</th>
                            <td class="table-danger">foglalt</td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>

                            <td class="table-warning">általad foglalt
                                <!-- Button trigger modal -->
                                <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                            </span>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">14-16</th>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-danger">foglalt</td>
                        </tr>
                        <tr>
                            <th scope="row">16-18</th>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-danger">foglalt</td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                            <td class="table-success">szabad
                                <button type="button" class="ms-2 btn btn-sm btn-outline-dark">+</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>Szabályok ismertetése.... Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum exercitationem debitis maxime commodi natus ullam alias provident modi consectetur facere, eum sed asperiores. Eos porro quibusdam id dolores
                    doloribus. Corrupti, at! Odit, recusandae culpa. Accusantium magnam temporibus incidunt? Ullam nemo harum itaque. Delectus, modi vero nostrum harum iste quam, repellendus voluptate assumenda officia, molestiae recusandae atque quasi
                    voluptatibus doloribus? Aliquam incidunt repellendus id, officia nostrum harum qui molestias doloremque consectetur, ipsam totam deleniti dolor exercitationem eos magni! Dolorum earum itaque deleniti vitae repellendus velit recusandae,
                    maxime autem sit nemo. Molestias, vero alias? Tempora reprehenderit ullam quidem cum. Velit facilis ratione sapiente! Rerum laboriosam veniam nostrum amet ratione hic placeat tempora deleniti repellendus cumque voluptas, sed ex enim
                    voluptatem fuga. Sit sed adipisci hic perspiciatis tempore impedit amet quis, ea quae mollitia asperiores deleniti fugiat temporibus, pariatur ad repudiandae ut nemo aliquam. Saepe quod dicta accusamus ducimus quae adipisci optio.</p>


                <h2 id="edit" class="mb-3">Foglalt időpontjaid</h2>
                <table class="table text-center table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="10%">Foglalás száma</th>
                            <th scope="col" width="20%">Nap</th>
                            <th scope="col" width="20%">Időpont</th>
                            <th scope="col" width="5%">Törlés</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Kedd</td>
                            <td>8-10</td>
                            <td>
                                <!-- Button trigger modal -->
                                <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                                                    <button type="button" class="btn btn-small btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                                                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Péntek</td>
                            <td>12-14</td>
                            <td>
                                <!-- Button trigger modal -->
                                <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                    <button type="button" class="btn btn-small btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Szerda</td>
                            <td>8-10</td>
                            <td>
                                <!-- Button trigger modal -->
                                <span data-bs-toggle="modal" data-bs-target="#torloModal">
                                    <button type="button" class="btn btn-small btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Törlés">&times</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-sm-4 col-lg-2">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Kedd 8-10
                            <span style="cursor: pointer" class="badge bg-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#torloModal">
                            X
                        </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Szerda 8-10
                            <span style="cursor: pointer" class="badge bg-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#torloModal">
                            X
                        </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Csütörtök 14-16
                            <span style="cursor: pointer" class="badge bg-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#torloModal">
                            X
                        </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>