<% layout('layouts/boilerplate') %>


    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row" style="width: 100%;">
            <div class="col-md-6 col-xl-4" style="width: 100%;">
                <div class="card shadow w-100">
                    <div class="card-body">
                        <h3 class="card-title mb-2">Profil</h3>
                        <form action="/register" method="POST" class="validated-form" novalidate>

                            <div class="form-group row">
                                <label for="staticUser" class="col-sm-3 col-form-label">Felhasználónév:</label>
                                <div class="col-sm-9">
                                  <input type="text" readonly class="form-control-plaintext" id="staticUser" value="username">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="staticFullName" class="col-sm-3 col-form-label">Teljes név:</label>
                                <div class="col-sm-9">
                                  <input type="text" readonly class="form-control-plaintext" id="staticFullName" value="John Doe">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-3 col-form-label">Email:</label>
                                <div class="col-sm-9">
                                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="staticPassword" class="col-sm-3 col-form-label">Jelszó:</label>
                                <div class="col-sm-9">
                                  <input type="text" readonly class="form-control-plaintext" id="staticPassword" value="********">
                                </div>
                            </div>

                            <div class="d-grid gap-2" style="
                            width: 20%;
                            margin-top: 2em;
                            ">
                                <button class="btn btn-success" type="submit">Módosítás</button>   <!--type button or submit?-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>