<% layout('layouts/boilerplate') %>


    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1562568068-ea24dcbf3c78?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h3 class="card-title mb-2">Regisztráció</h3>
                        <form action="/login" method="POST" class="validated-form" novalidate>

                            <div class="form-floating mb-3">
                                <input type="username" name="username" id="username" class="form-control" placeholder="username">
                                <label for="username">Felhasználónév</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" name="email" id="email" class="form-control" placeholder="email">
                                <label for="email">Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="password" id="password" class="form-control" placeholder="password">
                                <label for="password">Jelszó</label>
                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-success" type="button">Regisztráció</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>